@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c545d;
}

p {
  color: #9fabb2;
}

.header__content, .snippet__text, .snippet__content, .access__content, .workflow, .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content, .snippet__text, .snippet__content, .access__content, .workflow, .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  to {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  to {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

.header {
  background: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 720px) {
  .header {
    background: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header__content {
  padding: 8.125rem 1.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-bottom: 3.375rem;
}

@media screen and (max-width: 720px) {
  .header__logo {
    padding-bottom: 3.875rem;
  }
}

.header__text {
  text-align: center;
}

.header__text h1 {
  font-size: 44px;
  letter-spacing: 0.3px;
  padding-bottom: 15px;
}

@media screen and (max-width: 720px) {
  .header__text h1 {
    line-height: 1.35;
    font-size: 1.875rem;
    padding-bottom: 1rem;
    max-width: 20rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  .header__text h1 {
    line-height: 1.35;
    font-size: 1.625rem;
    padding-bottom: 1rem;
    max-width: 20rem;
    margin: 0 auto;
  }
}

.header__text p {
  font-size: 1.25rem;
  word-spacing: 0.7px;
  max-width: 45rem;
  margin: 0 auto;
  line-height: 1.6;
}

@media screen and (max-width: 720px) {
  .header__text p {
    font-size: 1rem;
    padding-bottom: 15px;
    max-width: 19.5rem;
    margin: 0 auto;
  }
}

.header__btn {
  margin-top: 4.0625rem;
}

@media screen and (max-width: 720px) {
  .header__btn {
    margin-top: 2.125rem;
  }
}

.header__btn a {
  padding: 1.05rem 2.1875rem;
  margin: 0px 5.6px;
  border-radius: 50px;
  font-size: 1.0625rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  -webkit-box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.281) inset;
          box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.281) inset;
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

@media screen and (max-width: 720px) {
  .header__btn a {
    display: block;
    max-width: 19rem;
    margin: 1.5rem auto;
  }
}

.header__btn a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.8;
}

.header__btn .ios {
  background: #26baa4;
}

.header__btn .mac {
  background: #6173ff;
}

progress {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: none;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: #26baa4;
  background-attachment: fixed;
}

.toggle {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 60px;
  height: 23px;
  width: 50px;
  border-radius: 50px;
  background: #6173ff;
  padding-top: 2.8px;
  padding-left: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.658);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.658);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 720px) {
  .toggle {
    top: 25px;
    right: 20px;
  }
}

.toggle .ball-slider {
  position: absolute;
  top: 4px;
  left: 6px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.on {
  -webkit-transform: translate(25px);
          transform: translate(25px);
}

main {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-tag {
  z-index: 10;
  background: rgba(0, 0, 0, 0.836);
}

.main-tag h1, .main-tag h2, .main-tag h3, .main-tag h4, .main-tag h5, .main-tag h6 {
  color: #fff;
}

.main-tag p {
  color: rgba(255, 255, 255, 0.842);
}

.main-tag .snippet__content .text h2 {
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .snippet {
    padding: 0 1.875rem;
  }
}

.snippet__text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.snippet__text .text {
  padding-top: 2.4375rem;
}

@media screen and (max-width: 720px) {
  .snippet__text .text {
    padding-top: 0.5625rem;
  }
}

.snippet__text .text h2 {
  font-size: 2.15625rem;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 720px) {
  .snippet__text .text h2 {
    font-size: 1.6875rem;
  }
}

@media screen and (max-width: 720px) {
  .snippet__text .text h2 {
    font-size: 1.6875rem;
    max-width: 29rem;
    margin: 0 auto;
  }
}

.snippet__text .text p {
  font-size: 1.125rem;
  max-width: 45rem;
  margin: 0 auto;
  line-height: 1.6;
  padding-top: 1.25rem;
}

@media screen and (max-width: 720px) {
  .snippet__text .text p {
    font-size: 1rem;
    max-width: 45rem;
    margin: 0 auto;
    line-height: 1.6;
    padding-top: 1.1875rem;
  }
}

@media screen and (max-width: 376px) {
  .snippet__text .text p {
    max-width: 19rem;
    margin: 0 auto;
  }
}

.snippet__content {
  margin-top: 5.1875rem;
}

@media screen and (max-width: 1080px) {
  .snippet__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .snippet__content {
    margin-top: 4.125rem;
  }
}

.snippet__content .img {
  margin-left: -1.9375rem;
}

@media screen and (max-width: 1200px) {
  .snippet__content .img {
    margin-left: -8.75rem;
  }
}

@media screen and (max-width: 1080px) {
  .snippet__content .img {
    margin-left: 0px;
  }
  .snippet__content .img img {
    display: inline-block;
    max-width: 100%;
  }
}

.snippet__content .text {
  padding: 4.28125rem 6.75rem;
}

@media screen and (max-width: 1080px) {
  .snippet__content .text {
    text-align: center;
    padding: 3.125rem 0;
  }
}

.snippet__content .text h2 {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #4c545d;
  padding-bottom: 0.625rem;
}

@media screen and (max-width: 720px) {
  .snippet__content .text h2 {
    font-size: 1.5rem;
  }
}

.snippet__content .text p {
  font-size: 1.0125rem;
  max-width: 21.5rem;
  line-height: 1.7;
}

@media screen and (max-width: 1200px) {
  .snippet__content .text p {
    max-width: 25rem;
  }
}

@media screen and (max-width: 720px) {
  .snippet__content .text p {
    word-spacing: 0.1875rem;
    font-size: 0.96875rem;
    max-width: 21.5rem;
    margin: 0 auto;
  }
}

.snippet__content .text .text-2 {
  padding: 3.625rem 0;
}

@media screen and (max-width: 720px) {
  .snippet__content .text .text-2 {
    padding: 3.0625rem 0;
  }
}

.access {
  padding-top: 2rem;
}

@media screen and (max-width: 1080px) {
  .access {
    padding: 0 1.875rem;
  }
}

.access__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__text {
  text-align: center;
  margin-top: 115px;
}

@media screen and (max-width: 720px) {
  .access__text {
    padding-top: 1.375rem;
  }
}

.access__text h3 {
  font-size: 2.1875rem;
  padding-bottom: 1.3125rem;
  text-transform: capitalize;
}

@media screen and (max-width: 720px) {
  .access__text h3 {
    font-size: 1.6875rem;
    padding-bottom: 1.0625rem;
  }
}

.access__text p {
  font-size: 1.1375rem;
  max-width: 44.5rem;
  line-height: 1.6;
  margin: 0 auto;
}

@media screen and (max-width: 720px) {
  .access__text p {
    font-size: 1.03125rem;
    max-width: 44.5rem;
    margin: 0 auto;
  }
}

.access__img {
  margin-top: 6.25rem;
}

@media screen and (max-width: 1080px) {
  .access__img {
    margin-top: 3.625rem;
  }
  .access__img img {
    display: inline-block;
    max-width: 100%;
  }
}

.companies {
  max-width: 75rem;
  margin: 0 auto;
  padding: 7.4375rem 4rem;
  overflow: hidden;
  position: relative;
}

.companies::before, .companies::after {
  content: '';
  position: absolute;
  height: 200px;
  width: 100px;
}

.companies::before {
  top: 0;
  left: 0;
}

.companies::after {
  top: 0;
  left: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.companies .slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  width: calc(250px * 10);
  -webkit-animation: scroll 20s infinite linear;
          animation: scroll 20s infinite linear;
}

@media screen and (max-width: 720px) {
  .companies .slider {
    -webkit-animation: scroll 15s infinite linear;
            animation: scroll 15s infinite linear;
    -ms-grid-columns: (0.4fr)[10];
        grid-template-columns: repeat(10, 0.4fr);
  }
}

.companies .slider .slide img {
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.companies .slider .slide img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(calc(-250px * 5));
            transform: translateX(calc(-250px * 5));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(calc(-250px * 5));
            transform: translateX(calc(-250px * 5));
  }
}

.workflow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1080px) {
  .workflow {
    padding: 0 1.875rem;
  }
}

.workflow__heading {
  padding-top: 4.125rem;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .workflow__heading {
    padding-top: 5.6875rem;
  }
}

.workflow__heading h4 {
  font-size: 2.1875rem;
  padding-bottom: 1.625rem;
}

@media screen and (max-width: 720px) {
  .workflow__heading h4 {
    font-size: 1.6875rem;
    max-width: 44.5rem;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}

.workflow__heading p {
  font-size: 1.09375rem;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 720px) {
  .workflow__heading p {
    font-size: 0.96875rem;
    line-height: 1.5;
  }
}

.workflow__flex {
  max-width: 72rem;
  margin: 0 auto;
  padding-top: 2.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1080px) {
  .workflow__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .workflow__flex {
    padding-top: 5.9375rem;
  }
}

.workflow__flex .flex__content {
  text-align: center;
}

.workflow__flex .flex__content .text {
  padding-top: 2.75rem;
}

@media screen and (max-width: 720px) {
  .workflow__flex .flex__content .text {
    padding-top: 2.0625rem;
  }
}

.workflow__flex .flex__content .text h5 {
  font-size: 1.375rem;
}

@media screen and (max-width: 720px) {
  .workflow__flex .flex__content .text h5 {
    font-size: 1.4625rem;
  }
}

.workflow__flex .flex__content .text p {
  font-size: 1rem;
  padding: 1.0625rem 0;
  line-height: 1.6;
  max-width: 24rem;
  margin: 0 auto;
  padding: 1.25rem;
}

@media screen and (max-width: 720px) {
  .workflow__flex .flex__content .text p {
    font-size: 1rem;
    max-width: 24rem;
    margin: 0 auto;
    padding: 1.25rem 0;
  }
}

.workflow__flex .b {
  margin: 2.75rem 0;
}

.download {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.9375rem;
  padding-bottom: 6.625rem;
}

@media screen and (max-width: 1080px) {
  .download {
    padding: 0px 30px;
  }
}

.download__text {
  text-align: center;
}

.download__text h6 {
  font-size: 2.1875rem;
  padding-bottom: 1.4375rem;
}

@media screen and (max-width: 720px) {
  .download__text h6 {
    font-size: 1.8125rem;
    padding-bottom: 1.0625rem;
  }
}

.download__text p {
  font-size: 1.0625rem;
  line-height: 1.6;
  max-width: 43rem;
  margin: 0 auto;
  word-spacing: 3.5px;
}

@media screen and (max-width: 720px) {
  .download__text p {
    font-size: 0.96875rem;
    max-width: 30rem;
    margin: 0 auto;
  }
}

.download__btn {
  margin: 4.1875rem 0;
}

@media screen and (max-width: 720px) {
  .download__btn {
    margin: 1.0625rem 0;
  }
}

.download__btn a {
  padding: 1.1875rem 2.4375rem;
  margin: 0px 0.3125rem;
  border-radius: 50px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  -webkit-box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.281) inset;
          box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.281) inset;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 720px) {
  .download__btn a {
    display: block;
    padding: 1.1875rem 4.6875rem;
    margin: 1.8125rem 0;
  }
}

@media screen and (max-width: 365px) {
  .download__btn a {
    display: block;
    padding: 0.9375rem 2.5rem;
    margin: 1.8125rem 0;
    font-size: 0.875rem;
  }
}

.download__btn a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.8;
}

.download__btn .ios {
  background: #26baa4;
}

.download__btn .mac {
  background: #6173ff;
}

.footer {
  background: #F5F6F8;
  padding-top: 2.5rem;
}

@media screen and (max-width: 1080px) {
  .footer {
    margin-top: 7.5rem;
    padding: 2.9375rem 0px;
  }
}

.footer__content {
  margin: 0 auto;
  max-width: 72rem;
  padding: 0 1.25rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

@media screen and (max-width: 1080px) {
  .footer__content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__logo:focus {
  outline: 0.1875rem dotted #26baa4;
  outline-offset: 0.35rem;
}

.footer__logo img {
  width: 26%;
}

@media screen and (max-width: 1080px) {
  .footer__logo img {
    width: 48%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1080px) {
  .footer__logo {
    margin-left: 3.75rem;
  }
}

.footer__links {
  margin: 0 -4.625rem;
}

.footer__links ul {
  padding-left: 4.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-row-gap: 1.125rem;
}

@media screen and (max-width: 1080px) {
  .footer__links ul {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin-top: 1.5625rem;
  }
}

@media screen and (max-width: 1080px) {
  .footer__links li {
    text-align: center;
    margin-top: 0.625rem;
    margin-right: 5rem;
  }
}

.footer__links li a {
  color: #4c545d;
  font-size: 1.125rem;
  white-space: nowrap;
  position: relative;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.footer__links li a:focus {
  outline: 0.1875rem dotted #26baa4;
  outline-offset: 0.35rem;
}

.footer__links li a::after {
  content: "";
  display: block;
  height: 0.1875rem;
  width: 0%;
  background: #26baa4;
  position: absolute;
  top: 24px;
  visibility: hidden;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__links li a:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: 100%;
  height: 0;
  visibility: visible;
}

.footer__links li a:hover {
  color: #26baa4;
}

.footer__links .ml {
  margin-left: 2.5rem;
}

@media screen and (max-width: 1080px) {
  .footer__links .ml {
    margin-left: 0px;
  }
}

.footer__social-media {
  margin-left: 25rem;
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1080px) {
  .footer__social-media {
    margin-left: 0px;
    margin-top: 2.9375rem;
  }
}

.footer__social-media a {
  margin: 0 0.5625rem;
}

@media screen and (max-width: 1080px) {
  .footer__social-media a {
    margin: 0 1.25rem;
  }
}

.footer__social-media a img:hover {
  -webkit-animation: shake 0.3s ease-in-out;
          animation: shake 0.3s ease-in-out;
  cursor: pointer;
  -webkit-filter: invert(53%) sepia(100%) saturate(306%) hue-rotate(122deg) brightness(93%) contrast(97%);
          filter: invert(53%) sepia(100%) saturate(306%) hue-rotate(122deg) brightness(93%) contrast(97%);
}

.m {
  background: #202020c9;
}

@media screen and (max-width: 800px) {
  .m {
    background: url(/images/pexels-drift-shutterbug-2085998.jpg);
    background-repeat: repeat;
    background-size: cover;
  }
}

.m li a {
  color: #fff;
}

.m .footer__social-media a img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.m .footer__social-media a img:hover {
  -webkit-filter: invert(53%) sepia(100%) saturate(306%) hue-rotate(122deg) brightness(93%) contrast(97%);
          filter: invert(53%) sepia(100%) saturate(306%) hue-rotate(122deg) brightness(93%) contrast(97%);
}

.top {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #161616;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.top__content {
  position: absolute;
  top: 47%;
  left: 54%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .top__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 45%;
  }
}

.top__l img {
  width: 80%;
}

.top .line {
  height: 100px;
  width: 2.5px;
  background: #fff;
  margin-left: 0px;
}

@media screen and (max-width: 1000px) {
  .top .line {
    display: none;
  }
}

.top__text {
  overflow: hidden;
  padding-left: 10px;
  margin-left: 10px;
}

.top__text .top-t {
  color: #fff;
  font-size: 2.5rem;
  padding: 8px 0px;
}

@media screen and (max-width: 1240px) {
  .top__text .top-t {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1060px) {
  .top__text .top-t {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .top__text .top-t {
    display: none;
  }
}

.overflow {
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .rotate {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: 3.5s;
    transition: 3.5s;
  }
}
/*# sourceMappingURL=main.css.map */