
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
}

a,
a:hover,
a:visited{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: hsl(210, 10%, 33%);
}

p{
    color: hsl(201, 11%, 66%);
}
